body {
  background-color: rgb(93, 93, 93);
  font-family: Tahoma;
}

#container {
  margin: auto;
  width: 450px;
}

label {
  display: inline-block;
  width: 10em;
}

#checkboxLabel {
  width: 16em;
}

input {
  padding: 0.2em 0.35em;
  margin-bottom: 0.8em;
}

input, select, button {
  border-radius: 1em;
  margin-right: 0.5em;
}

.qtFields {
  width: 2.3em;
}

.sousTotFields {
  width: 6.5em;
}

.greyedout {
  background-color: #eaebe5;
}

.errorBackground {
  background-color: #FF3636;
}

.validBackground {
  background-color: #89FF29;
}

.red_border {
	-webkit-box-shadow: 0px 0px 0px 3px #FF3636;
	box-shadow: 0px 0px 0px 3px #FF3636;
}

.green_border {
	-webkit-box-shadow: 0px 0px 0px 3px #89FF29;
	box-shadow: 0px 0px 0px 3px #89FF29;
}

#bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 20px;
}

@media print{
	@page {size: landscape}
}